<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <div class="fullWBanner">
            <img src="images/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="homeimg">
            <h1>ご相談の流れ</h1>
        </div>
    
        <div class="content">
            <div class="steps">
                <div class="step">
                    <h3><span>1</span>お問い合せ</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。</p>
                </div>
                <div class="step">
                    <h3><span>2</span>初回ご相談・コンサルテーション</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。</p>
                </div>
                <div class="step">
                    <h3><span>3</span>ご提案・お見積もり</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。</p>
                </div>
            </div>

            <%- include('./partials/contBanner.ejs')  %> 

        </div>

        <%- include('./partials/featBlog.ejs')  %> 

    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>