<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">
        <div class="fullWBanner">
            <img src="images/daryan-shamkhali-9BZX2ctaRPM-unsplash.jpg" alt="homeimg">
            <h1>理想的な労働環境実現のお手伝い</h1>
        </div>

        <div class="content">
        <p><b>北島社会労務士事務所</b>では、法人経営の経験豊富な社会労務士による、お客様に寄り添った懇切丁寧なサービスを提供させていただいています。</p>
            <div class="reasons">
                <h2>選ばれる理由</h2>
                <div class="reason">
                    <h3><span>1</span>初回相談無料</h3>
                    <p>お客様に安心してご相談いただくため、初回のご相談は無料で行っております。お客様に安心してご相談いただくため、初回のご相談は無料で行っております。</p>
                </div>
                <div class="reason">
                    <h3><span>2</span>問題解決まで一貫したサポート</h3>
                    <p>私たちがそこへ行くかどうかを決めるのは君の責任だ。「野生の動物はロボットではありません」と彼女は言う。日没は言葉では表現できないほど美しかった。</p>
                </div>
                <div class="reason">
                    <h3><span>3</span>お客様に寄り添った丁寧なサービス</h3>
                    <p>いいからさっき盗ったモノを、カバンの中から出しなさい。ああ、怖かった。またいつか風のように走るんだ。ＡＳＥＡＮという文字は東南アジア諸国連合を表します。</p>
                </div>
            </div>

            <h2>主な業務内容</h2>
            <div class="services">
                <div class="service">
                    <h3>労働・社会保険</h3>
                </div>
                <div class="service">
                    <h3>各種助成金</h3>
                </div>
                <div class="service">
                    <h3>障害年金</h3>
                </div>
                <div class="service">
                    <h3>各種コンサルティング</h3>
                </div>
            </div>
            <%- include('./partials/contBanner.ejs')  %> 
        </div>

        <%- include('./partials/featBlog.ejs')  %> 

    </div>

    <%- include('./partials/footer.ejs')  %> 
</body>
</html>